:root {
  --primary-color: rgb(0, 87, 146);
  --secondary-color: rgb(0, 187, 240);
  --accent-color: #fdb44b;
  --primary-font: ;
  --default-font-family: "Merriweather", serif;
  --secondary-font-family: "Ubuntu", sans-serif;
}

body {
  max-width: 1000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: var(--primary-color);
  padding-top: 10px;
  font-size: 18px;
  position: fixed;
  top: 0px;
  width: 100%;
}

header nav {
  padding-top: 5px;
  order: 1;
}

.nav-links li {
  display: inline-block;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-links li:hover {
  text-decoration: underline;
}

.nav-links li:nth-child(1) {
  padding-left: 0px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  align-items: center;
}

.active {
  opacity: 0.5;
}

.hero {
  padding-top: 300px;
  padding-bottom: 100px;
}

.logo {
  cursor: pointer;
  order: 2;
  margin-left: auto;
  padding-right: 20px;
}

.hero h1,
.hero h2,
.hero h3 {
  color: #f0fbff;
  text-align: center;
}

.hero h1 {
  font-size: 96px;
}

.hero h2,
.contents h2 {
  font-size: 64px;
}
.contents h2 {
  text-align: left;
}

.hero h3 {
  font-size: 24px;
  opacity: 0.8;
  margin-bottom: 48px;
}

.contents {
  text-align: center;
}

.primary-background {
  background: var(--primary-color);
}

.secondary-backgroun {
  background: var(--secondary-color);
}

.primary-font {
  font-family: var(--default-font-family);
}

.secondary-font {
  font-family: var(--secondary-font-family);
}

.font-bold {
  font-weight: 700;
}

.font-regular {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.primary-button {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 15px 5px;
  background: var(--accent-color);
  box-shadow: 3px 5px 11px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 150px;
  color: #02001f;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.primary-button:hover {
  /* color: var(--accent-color); */
  /* background-color: white; */
  border: 1px solid var(--accent-color);
  opacity: 0.8;
}

.content-description:hover {
  border: 1px hidden rgba(0, 187, 240, 0.1);
  background-color: rgba(0, 187, 240, 0.1);
}

.work-inquiry {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  color: white;
}

.work-inquiry h2 {
  font-size: 48px;
  font-family: var(--default-font-family);
  font-weight: 700;
  padding-left: 100px;
  padding-top: 20px;
}

.work-inquiry p {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: 700;
  padding-left: 100px;
  margin-bottom: 20px;
}

.work-inquiry a {
  text-decoration: none;
  align-items: center;
  margin: auto;
}

.link {
  display: flex;
  justify-content: space-between;
}
