:root {
  --primary-color: rgb(0, 87, 146);
  --secondary-color: rgb(0, 187, 240);
  --accent-color: #fdb44b;
  --primary-font: ;
  --default-font-family: "Merriweather", serif;
  --secondary-font-family: "Ubuntu", sans-serif;
}

body {
  max-width: 1000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: var(--primary-color);
  padding-top: 10px;
  font-size: 18px;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  z-index: 2;
}

header nav {
  padding-top: 5px;
  order: 1;
}

main {
  width: 200vh;
  overflow: visible;
}

footer {
  margin-top: 100px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
}

.nav-links li {
  display: inline-block;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.nav-links li:nth-child(1) {
  padding-left: 0px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  align-items: center;
}

.active {
  opacity: 0.5;
}

.active:hover {
  text-decoration: none !important;
  cursor: default;
}

.menu-toggle {
  display: none;
  order: 2;
  z-index: 1;
  padding-left: 10px;
  -webkit-user-select: none;
  user-select: none;
}

.menu-toggle input {
  z-index: 3;
  width: 40px;
  height: 40px;
  position: relative;
  top: 12px;
  left: -5px;
  opacity: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  top: -25px;

  background: white;
  border-radius: 3px;

  z-index: 2;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, 0.5px);
  background: white;
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(2px, 0.5px);
}

.menu {
  list-style: none;
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: var(--primary-color);
  transform-origin: 0% 0%;
  transform: translate(0, -300px);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.menu li {
  padding: 0;
  font-size: 22px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.menu-toggle input:checked ~ ul {
  transform: none;
  padding-right: 100%;
}

.logo {
  cursor: pointer;
  order: 3;
  margin-left: auto;
  padding-right: 20px;
}

.hero {
  padding-top: 300px;
  padding-bottom: 100px;
  box-sizing: content-box;
}

.hero h1,
.hero h2,
.hero h3 {
  color: #f0fbff;
  text-align: center;
}

.hero h1 {
  font-size: 96px;
}

.hero h2,
.contents h2 {
  font-size: 64px;
}
.contents h2 {
  text-align: left;
}

.hero h3 {
  font-size: 24px;
  opacity: 0.8;
  margin-bottom: 48px;
}

.contents {
  margin-top: 75px;
  text-align: center;
}

.contents h3 {
  font-size: 24px;
  margin-bottom: 50px;
}

.contents p {
  text-align: left;
}

.project-image {
  border: 15px solid var(--accent-color);
  border-radius: 6px;
}

.work img {
  border: 10px solid var(--accent-color);
  border-radius: 6px;
  transition: all 200ms ease-in-out;
}

.work img:hover {
  border: 10px solid var(--secondary-color);
}

.primary-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2500' height='700' preserveAspectRatio='none' viewBox='0 0 2000 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1816%26quot%3b)' fill='none'%3e%3crect width='2000' height='700' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c313 C 133.4%2c269.6 400.2%2c114.2 667%2c96 C 933.8%2c77.8 1067.4%2c235.8 1334%2c222 C 1600.6%2c208.2 1866.8%2c66 2000%2c27L2000 700L0 700z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c624 C 100%2c580.2 300%2c415.4 500%2c405 C 700%2c394.6 800%2c556.6 1000%2c572 C 1200%2c587.4 1300%2c490.4 1500%2c482 C 1700%2c473.6 1900%2c520.4 2000%2c530L2000 700L0 700z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1816'%3e%3crect width='2000' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.secondary-background {
  background: var(--secondary-color);
}

.primary-font {
  font-family: var(--default-font-family);
}

.secondary-font {
  font-family: var(--secondary-font-family);
}

.font-bold {
  font-weight: 700;
}

.font-regular {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.primary-button {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 15px 5px;
  background: var(--accent-color);
  box-shadow: 3px 5px 11px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 150px;
  color: #02001f;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.primary-button:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);

  color: white;
}
.content-description {
  transition: all 200ms ease-in-out;
}

.work-inquiry {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  color: white;
}

.work-inquiry h2 {
  font-size: 48px;
  font-family: var(--default-font-family);
  font-weight: 700;
  padding-left: 100px;
  padding-top: 20px;
}

.work-inquiry p {
  font-size: 14px;
  font-family: var(--default-font-family);
  font-weight: 700;
  padding-left: 100px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.work-inquiry a {
  text-decoration: none;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  padding: 18px;
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.social-links:hover {
  background-color: white;
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.about-me {
  margin-top: 200px;
  justify-content: left;
}

.about-me h1 {
  font-size: 64px;
  margin-bottom: 30px;
}

.about-me h2 {
  margin-bottom: 40px;
}

.about-me p {
  margin-bottom: 75px;
}

.about-me img {
  border-radius: 6px;
}

.secondary-button {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 15px 5px;
  background: var(--accent-color);
  box-shadow: 3px 5px 11px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  width: 150px;
  color: #02001f;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.secondary-button:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: white;
}

.work {
  margin-top: 200px;
}

.work h1 {
  font-size: 64px;
}

.work h2 {
  font-size: 24px;
  text-align: center;
}

.work p {
  text-align: center;
}

.contact-me {
  margin-top: 200px;
}

.contact-me h1 {
  font-size: 64px;
}

.contact-me a {
  text-decoration: none;
}

.contact-me ul {
  list-style: none;
  font-size: 20px;
  margin-top: 48px;
  padding-left: 0;
}

.contact-me li {
  line-height: 35px;
  padding-top: 10px;
}

.contact-me a {
  font-size: 16px;
}

.contact-me h3 {
  color: white;
  margin-top: 40px;
}

@media (max-width: 700px) {
  header {
    margin-top: -15px;
  }

  .hero {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .hero h1,
  .about-me h1,
  .work h1,
  .contact-me h1 {
    font-size: 48px;
  }
  .hero h2,
  .about-me h2,
  .contact-me h2 {
    font-size: 36px;
  }
  .hero h3 {
    font-size: 20px;
  }
  .nav-links {
    display: none;
  }
  .menu-toggle {
    display: block;
  }

  .contents {
    margin-top: 10px;
  }

  .contents h3 {
    font-size: 20px;
  }

  .contents h2 {
    font-size: 36px;
    text-align: center;
  }

  .contents a,
  .about-me a {
    display: block;
    margin: 0 auto 20px auto;
    text-align: center;
  }

  footer {
    margin: 0;
  }

  .work-inquiry {
    text-align: center;
  }
  .work-inquiry h2 {
    font-size: 36px;
    padding-left: 0;
  }

  .work-inquiry p {
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .work-inquiry a {
    margin-bottom: 20px;
  }
  .about-me,
  .work,
  .contact-me {
    margin-top: 100px;
  }
  .about-me h1,
  .about-me h2,
  .work h1,
  .work h2,
  .work p,
  .contact-me h1 {
    text-align: center;
  }

  .contact-me h3 {
    display: flex;
    justify-content: space-evenly;
  }

  .contact-me ul {
    padding-left: 15px;
  }

  .project-image {
    border: 5px solid var(--accent-color);
  }
  .work img {
    border: 5px solid var(--accent-color);
  }
}
